body{
    background: #3F92D2;
    font-family: Arial;
    color: #333;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    float: left;
}
.menu li a{
    display: block;
    margin: 0 10px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px #333;
}

.block{
    padding: 40px;
    margin: 100px auto;
    background: #fff;
    box-shadow: 0 0 25px #000;
    border-radius: 5px;
}

.comment-form{
    width:25%
}
.comment-form label{
    display: block;
    margin-bottom: 20px;
    font-size: 12pt;
}
.comment-form input,
.comment-form select,
.comment-form textarea{
    width: 100%;
    font-size: 14pt;
    color: #555;
    padding: 5px 10px;
}

.block table{
    width: 100%;
    border-spacing: 0;
}
.block td, .block th{
    margin: 0;
    padding: 10px 20px;
}
.block th{
    background: #ddd;
}
.block td{
    border-bottom: 1px solid #ddd;
}
.clear{
    clear: both;
}

.error{
    background-color: #ffbabc;
}